   
 <!-- jQuery CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <!-- <script src="https://kit.fontawesome.com/ba0299c9c0.js" crossorigin="anonymous"></script> -->

</body>

<footer class="page-footer font-small text-white bg-dark foooter">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
      <a href="/"> Twitter_clone.com</a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->

</html>