   
</body>

<footer class="page-footer font-small text-white bg-dark foooter">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
      <a href="/"> Twitter_clone.com</a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->

</html>