<%- include('../partials/header') %>

<div class="container" style="margin-top: 20px;">
    <header class="jumbotron">
        <div>
            <h1>See All the Posts</h1>
        </div>
    </header>



    <div class="container " style="margin-top: 20px;">
        <div class="row hidden-md-up" style="display: flex; flex-wrap: wrap;">
          
            <% posts.forEach(function(post){ %>

            <div class="col-md-3 col-sm-6">

                <div class="thumbnail">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title" style="text-align: center;"><%= post.author %></h5>
                            <p class="card-text"> <%= post.text %> </p>
                            <% if(currentUser) { %>
                            <a href="#" class="card-link">Comment</a>
                            <% } %>
                            <%if(currentUser && post.author != currentUser.username){%>
                            <a href="#" class="card-link">Follow</a>
                            <a href="#" class="card-link">Like</a>
                            <%}%>
                        </div>
                    </div>
               </div>
            </div>
          <%})%>
        </div>
    </div>


<%- include('../partials/footer') %>